/auto-save-list
/custom.el
/bookmarks
/url
/abbrev_defs
/command-stats.el
/eln-cache
/saves
/tramp
/tutorial
/source/*
/elpa
/desktop
/cache
/session*
/straight
palces
history
*.elc
/transient
projects
/places
#*#
.cache/
.dap-breakpoints
.lsp-session-v1
.org-id-locations